:root {
  --background_taupe: rgb(186, 161, 132);
}
@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

.container {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}
/* .img {
  width: 100%;
  display: block;
  object-fit: cover;
} */
.main-img {
  max-width: 567px;
}
.logo {
  max-width: 600px;
}
.bkg {
  height: 100%;
  width: 100vw;
  background-color: var(--background_taupe);
  font-family: "Alkatra";
  font-size: 30px;
  color: rgb(36, 20, 1);
}
.top-logo {
  display: flex;
  justify-content: center;
}
p {
  text-indent: 20px;
  max-width: 700px;
  margin: 0, 20px, 0, 20px;
}
.info {
  display: flex;
  justify-content: center;
}
.bs {
  color: rgb(78, 60, 6);
  text-decoration: underline;
  text-decoration-color: rgb(36, 20, 1);
}
.kitty {
  max-width: 500px;
}
